.container {
    margin: 1.2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.header {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.titre {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.champ {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.champ input {
    padding: .8rem;
    border-radius: 5px;
    color: var(--secondary-font-color);
}

.champ textarea {
    border-radius: 5px;
    min-width: 90.45rem;
    max-width: 90.45rem;
    width: 100%;
    box-sizing: border-box;
    color: var(--secondary-font-color);
}

.champ input,
.champ textarea {
    border: 1px solid #ccc;
    padding: .8rem;
    font-size: 1rem;

}

.champ input.erreur,
.champ textarea.erreur {
    border: 1px solid red;
}

.erreur {
    color: red;
    font-size: .8rem;
    margin-top: 5px;
}

.bouton {
    text-transform: capitalize;
    background-color: var(--second-primary-color);
    color: var(--font-color);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    max-width: 8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bouton:hover {
    color: var(--secondary-color);
    filter: brightness(85%);
}


@media (max-width: 768px) {

    .champ textarea {
        min-width: 25.7rem;
        max-width: 25.7rem;
    }
}

@media (max-width: 415px) {

    .champ textarea {
        min-width: 25.7rem;
        max-width: 25.7rem;
    }
}