.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FFFFEF;
    --primary-color: #FFFFEF;
    --second-primary-color: #4C317F;
    --secondary-color: #F1E471;
    --font-color: #fff;
    --secondary-font-color: #151F2C;
}

.main {
    flex: 1;
}