.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
}

.main {
  flex: 1;
}

.title {
  text-align: center;
  margin: 30px auto;
  padding: 30px;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px var(--secondary-font-color);
  line-height: 1.5;
}

.slider1 {
  max-width: 612px;
  max-height: 400px;
  margin: 100px auto;
  overflow: hidden;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}

.slider1 .slider {
  animation: slider-1 12s infinite ease-in-out;
  display: flex;
}

@keyframes slider-1 {
  0%, 20% {
    transform: translateX(0);
  }
  25%, 45% {
    transform: translateX(-100%);
  }
  50%, 70% {
    transform: translateX(-200%);
  }
  75%, 95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}

.classement {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(34, 34, 34, 0.2);
}

.teamranking {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teamranking th,
.teamranking td {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.teamranking tbody tr:nth-child(odd) {
  background-color: var(--second-primary-color);
  color: var(--secondary-color);
}

.teamranking th {
  text-transform: uppercase;
}
